{% extends "auctions/layout.html" %}

{% block title %}{{ category }} | Category{% endblock %}

{% block body %}
<main>
    
    {% if listings %}
        <h2>Active Listings</h2>
        <div class="listings">
        {% for listing in listings %}
            <div class="listing">
                <div class="listing-info">
                    <h4>
                        <a class="color-1 listing-name" href="{% url 'listing' listing.title %}">
                            <strong>{{ listing.title }}</strong>
                        </a>
                    </h4>
                    <div class="listing-description card card-body">
                        {{ listing.description }}
                    </div>
                    <a class="listing-sub-category" href="{% url 'category' listing.category %}">
                        {{ listing.category }}
                    </a>

                    {% if listing.current_price %}
                        <div>${{ listing.current_price }}</div>
                    {% else %}
                        <div>No bid yet.</div>
                    {% endif %}
                    
                </div>
                <div class="listing-item">
                    <img src={{ listing.image }} alt={{ listing.title }}>
                </div>                        
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h2>No Active Listings</h2>
    {% endif %}

    
</main>
{% endblock %}