{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        View listings in <a href="{% url 'categories' %}">categories</a>
    </div>
    <h2>Active Listings</h2>
    {% if active_listings %}
        <div class="listings">
        {% for active_listing in active_listings %}
            <div class="listing">
                <div class="listing-info">
                    <h4>
                        <a class="product-name" href="{% url 'listing' active_listing.title %}">
                            <strong>{{ active_listing.title }}</strong>
                        </a>
                    </h4>
                    <div class="product-description card card-body">{{ active_listing.description }}</div>
                    <a class="product-sub-category" href="{% url 'category' active_listing.category %}">{{ active_listing.category }}</a>
                    <p>${{ active_listing.current_price }}</p>
                    
                </div>
                <div class="product-carousel-item carousel-item carousel-size active">
                    <img src={{ active_listing.image }} alt={{ active_listing.title }}>
                </div>                        
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <h2>Closed Listings</h2>
    {% if closed_listings %}
        {% for closed_listing in closed_listings %}
        <ul>
            <li>
                <div>
                    <h4><a href="{% url 'listing' closed_listing.title %}">{{ closed_listing.title }}</a>
                    </h4>
                    <p>{{ closed_listing.description }}</p>
                    <p>{{ closed_listing.category }}</p>
                    <p>${{ closed_listing.current_price }}</p>
                    <img src={{ closed_listing.image }}>
                </div>
            </li>
        </ul>
        {% endfor %}
    {% endif %}
{% endblock %}