{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if active_listings %}
        {% for active_listing in active_listings %}
        <ul>
            <li>
                <div>
                    <p><a href="{% url 'listing' active_listing.title %}">{{ active_listing.title }}</a>
                    <span>
                    {% if active_listing.closed == True %}
                        Closed
                    {% else %}
                        Active
                    {% endif %}
                    </span>
                    </p>
                    <p>{{ active_listing.description }}</p>
                    <p>{{ active_listing.category }}</p>
                    <p>${{ active_listing.current_price }}</p>
                    <p>{{ active_listing.image }}</p>
                </div>
            </li>
        </ul>
        {% endfor %}
    {% endif %}
{% endblock %}