{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if listing %}
        
        {% if user.is_authenticated %}
            {% if auction_in_wishlist %}
                <div>
                    <span>
                        {{ listing.title }} is in your wishlist.
                    </span>
                    <a href="{% url 'add-or-delete-wishlist' listing.title %}">Remove from wishlist</a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'add-or-delete-wishlist' listing.title %}">Add to wishlist</a>
                </div>
            {% endif %}
        {% endif %}
        <div>
            <p>{{ listing.title }}</p> 
            <p>{{ listing.description }}</p>
            <p>{{ listing.category }}</p>
            <p>{{ listing.image }}</p>
            <p>${{ listing.starting_bid }}</p>
            {% if listing.current_price %}
                <p>${{ listing.current_price }}</p>
            {% else %}
                <p>There are no bids for this listing. Be the first to bid.</p>
            {% endif %}
            <div>
                {% if user.is_authenticated %}                
                <div>
                    <form action="{% url 'bid' listing.title %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="bid">Your bid must be greater than the starting bid and other bids.</label>
                            <input autofocus class="form-control" name="bid" id="bid" type="number" placeholder="Place your bid">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Bid">
                    </form>
                </div>
                {% endif %}

            </div>
        </div>

    {% endif %}

{% endblock %}