{% extends "auctions/layout.html" %}

{% block body %}
    {% if listing %}

    <h2>{{ listing.title }}</h2>
        
        {% if user.is_authenticated and listing.closed == False %}

            {% if auction_in_wishlist %}
                <div>
                    <span>
                        {{ listing.title }} is in your wishlist.
                    </span>
                    <a href="{% url 'add-or-delete-wishlist' listing.title %}">Remove from wishlist</a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'add-or-delete-wishlist' listing.title %}">Add to wishlist</a>
                </div>
            {% endif %}
        


        {% elif user.is_authenticated and listing.closed == True %}
            {% if request.user == highest_bid.user %}
                <div>
                    Congratulations, You won this auction!
                </div>
            {% else %}
                <div>
                    This listing is closed.
                </div>
            {% endif %}
        {% endif %}

        <div>
            <p>{{ listing.title }}</p> 
            <p>{{ listing.description }}</p>
            <p>{{ listing.category }}</p>
            <img src={{ listing.image }}>
            <p>${{ listing.starting_bid }}</p>

            {% if listing.current_price %}
                <p>${{ listing.current_price }}</p>
            {% else %}
                <p>There are no bids for this listing. Be the first to bid.</p>
            {% endif %}
            <div>

            {% if user.is_authenticated and listing.closed == False %}
                {% if request.user != listing.lister %}             
                    <div>
                        <form action="{% url 'bid' listing.title %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="bid">Your bid must be greater than the starting bid and other bids.</label>
                                <input autofocus class="form-control" name="bid" id="bid" type="number" placeholder="Place your bid">
                            </div>
                            <input class="btn btn-primary" type="submit" value="Bid">
                        </form>
                    </div>        
                {% elif request.user == listing.lister %}
                    {% if highest_bid %}
                        <div>
                            The current highest bidder is {{ highest_bid.user }}
                        </div>
                    {% endif %}
                    <div>
                        <a class="btn btn-danger" href="{% url 'close-listing' listing.title %}" type="button">Close Listing</a>
                    </div>
                {% endif %}

            {% elif request.user == listing.lister and listing.closed == True %}
                {% if highest_bid %}
                    <div>
                        This Listing is closed. The highest bidder is {{ highest_bid.user }}
                    </div>
                {% endif %}
            {% endif %}

            </div>
        </div>

    {% endif %}


    {% if comments %}
        <div>
        {% for comment in comments %}
            <p>
                {{ comment.user }}
            </p>
            <p>
                {{ comment.message }}
            </p>
        {% endfor %}
        </div>

    {% else %}
        <div>
            There are no comments for this listing.
        </div>
    {% endif %}

    {% if user.is_authenticated and listing.closed == False %}
        <div>
            <form action="{% url 'comment' listing.title %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" autofocus type="text" name="message" placeholder="Comment"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}
{% endblock %}